@echo off
for %i in (ROOT_FOLDER\*.*) do if not %i == ROOT_FOLDER\setting.xml del /Q %i
for /D %%D in ("ROOT_FOLDER\*.*") do (
    if /I not "%%~nxD"=="Temp" (
            2> nul rd /S /Q "%%~fD"
        )
)
xcopy /Y /S /E "ROOT_FOLDER\Temp\Python_Sim" "ROOT_FOLDER"
rmdir "ROOT_FOLDER\Temp\Python_Sim" /S /Q
start /b "" cmd /c del "%~f0"&exit /b
